* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html {
    background-image: url("../../images/image_fondo_guild.jpeg");
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    letter-spacing: 2px;
    font-size: 28px;
    height: 40px;
    background: black;
    filter: opacity(70%);
    margin: 0;
    padding: 20px 25px;
}

.login_container {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

a {
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    color: rgb(196, 196, 196);
    transition: .3s;
}

p {
    font-size: 20px;
}

form {
    border-radius: 5px;
    background: #2e2e2e;
    border: none;
    padding: 20px;
}

input {
    display: block;
    padding: 10px 20px;
    margin-bottom: 15px;
    border-radius: 5px;
}

button {
    background: #eb4d4d;
    padding: 10px 20px;
    border-radius: 5px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

li {
    list-style-type: none;
    margin-bottom: 5px;
}

footer {
    margin-top: 100px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    background: black;
    filter: opacity(70%);
}

.layman-terms {
    display: flex;
    justify-content: space-around;
    background: black;
}

span a {
    margin-left: 40px;
}